defaultPath: './data/rcmp4/' # 保存视频的位置
videoSizeLimit: 70 # 视频大小限制（单位MB），超过大小则转换成群文件上传
proxyAddr: '127.0.0.1' # 魔法地址
proxyPort: '7890' # 魔法端口
identifyPrefix: '' # 识别前缀，比如你识别哔哩哔哩，那么就有：✅ 识别：哔哩哔哩

deeplApiUrls: 'http://www.gptspt.cn/translate,http://gptspt.top/translate,http://8.134.135.4:1188/translate,http://120.76.141.173:1188/translate,http://bit.x7ys.com:1188/translate,http://deeplxapi.x7ys.com:1188/translate'

biliSessData: '' # 哔哩哔哩的SESSDATA
biliIntroLenLimit: 50 # 哔哩哔哩简介长度限制，填 0 或者 -1 可以不做任何限制，显示完整简介
biliDuration: 480 # 哔哩哔哩限制的最大视频时长（默认8分钟），单位：秒
biliDisplayCover: true # 是否显示哔哩哔哩的封面
biliDisplayInfo: true # 是否显示哔哩哔哩的视频信息
biliDisplayIntro: true # 是否显示哔哩哔哩的简介
biliDisplayOnline: true # 是否显示哔哩哔哩的在线人数
biliDisplaySummary: false # 是否显示哔哩哔哩的总结
biliUseBBDown: false # 是否使用BBDown，默认不开启，开启后使用强劲的BBDown下载最高画质
biliCDN: 0 # 哔哩哔哩 CDN，默认为0表示不使用
biliDownloadMethod: 0 # 哔哩哔哩的下载方式：0默认使用原生稳定的下载方式，如果你在乎内存可以使用轻量的wget和axel下载方式，如果在乎性能可以使用Aria2下载
biliResolution: 1 # 哔哩哔哩的下载画质，0为原画，1为清晰画，2为流畅画（默认为0）

douyinCookie: '' # douyin's cookie, 格式：odin_tt=xxx;passport_fe_beating_status=xxx;sid_guard=xxx;uid_tt=xxx;uid_tt_ss=xxx;sid_tt=xxx;sessionid=xxx;sessionid_ss=xxx;sid_ucp_v1=xxx;ssid_ucp_v1=xxx;passport_assist_user=xxx;ttwid=xxx;
douyinCompression: true # true-压缩，false-不压缩；是否使用压缩视频格式的抖音（默认使用），使用后加速视频发送
douyinComments: false # true-开启评论，false-关闭评论

xiaohongshuCookie: '' # 2024-8-2后反馈必须使用ck，不然无法解析

queueConcurrency: 1 # 【目前只涉及哔哩哔哩的下载】根据服务器性能设置可以并发下载的个数，如果你的服务器比较强劲，就选择4~12，较弱就一个一个下载，选择1

videoDownloadConcurrency: 1 # 下载视频是否使用多线程，如果不使用默认是1，如果使用根据服务器进行选择，如果不确定是否可以用4即可，高性能服务器随意4~12都可以，看CPU的实力

lagrangeForwardWebSocket: 'ws://127.0.0.1:9091/' # 格式：ws://地址:端口/，拉格朗日正向连接地址，用于适配拉格朗日上传群文件，解决部分用户无法查看视频问题

autoclearTrashtime: '0 0 8 * * ?' #每天早上8点自动清理视频缓存，cron可自定义时间

aiBaseURL: '' # 用于识图的接口，kimi默认接口为：https://api.moonshot.cn，其他服务商自己填写
aiApiKey: '' # 用于识图的api key，kimi接口申请：https://platform.moonshot.cn/console/api-keys
aiModel: 'moonshot-v1-8k' # 模型，使用kimi不用填写，其他要填写
