<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>歌曲信息</title>
    <style>
        @import url('{{pluResPath}}html/neteaseMusicInfo/neteaseMusicInfo.css');
    </style>
</head>

<body>
    <div class="bg-image">
        {{ if songInfo.cover == 'def' }}
        <img src="{{ songInfo.cover }}" alt="" class="img" width="100%">
        {{ else }}
        <img src="{{pluResPath}}img/default.png" alt="" class="img" width="100%">
        {{ /if }}
        <div class="inner"></div>
    </div>
    <div class="infoBox">
        <div class="info">
            <div class="songinfobox">
                <div class="cover">
                    {{ if songInfo.cover != 'def' }}
                    <img src="{{ songInfo.cover }}" alt="">
                    {{ else }}
                    <img src="{{pluResPath}}img/default.png" alt="">
                    {{ /if }}
                </div>
                <div class="songSize">
                    {{ songInfo.size }}
                </div>
                <div class="songName">
                    {{ songInfo.songName }}
                </div>
                <div class="singerName">
                    {{ songInfo.singerName }}
                </div>
                {{if songInfo.musicType}}
                <div class="typeBox">
                    <div class="typeList">
                        {{each songInfo.musicType typeName}}
                        <div class="typeNav">
                            {{ typeName || '喵喵~'}}
                        </div>
                        {{ /each }}
                    </div>
                </div>
                {{/if}}
                <div class="logo">Created By Yunzai-Bot & R-Plugin</div>
            </div>
        </div>
    </div>
</body>

</html>